.container {
    width: 90%;
    margin: 0 auto;
}

.section {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.section .section--header h2 {
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--color-red);
}

.section .section--body {
    margin-top: 2rem;
}


/* Headline section */
.headline {
    padding-top: 1.25rem;
    padding-bottom: 3rem;
    background-color: var(--color-chinese-black);
    color: var(--color-white);
}

.headline--inner {
    width: 90%;
    margin: 0 auto;
}

.headline .post--link {
    color: var(--color-white);
}

.headline--image {
    height: 200px;
}

.headline--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline--content {
    margin-top: 1rem;
}

.headline--header {
    margin-top: 1.5rem;
}

.headline--header h1 {
    font-size: 1.9rem;
    line-height: 2.75rem;
}

.headline--body {
    margin-top: .5rem;
}

.headline--body p {
    line-height: 1.75rem;
}


.developer {
    margin-top: 3rem;
    background-color: var(--color-red);
    color: var(--color-white);
}

.developer--avatar {
    position: relative;
    top: -2.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    height: 5rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .25);
    border-radius: .5rem;
}

.developer--avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.developer--profile {
    text-align: center;
    position: relative;
    top: -1rem;
}

.developer--profile .developer--title {
    font-size: 1.25rem;
    font-weight: normal;
    opacity: .75;
}

.developer--profile .developer--name {
    margin-top: .5rem;
    font-weight: bold;
}

.developer--social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 2rem;
}

.developer--social-media .developer--social-media-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 2rem;
    background-color: var(--color-white);
    color: var(--color-chinese-black);
}

.developer--social-media-link svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: all .3s ease-in-out;
}

.developer--social-media-link:hover svg {
    opacity: .75;
}

.hearth {
    color: var(--color-pink);
}

.footer {
   padding-bottom: 2rem;
   font-size: .75rem;
   text-align: center;
}

.footer a {
    text-decoration: none;
    color: var(--color-red);
}

.footer a:hover {
    text-decoration: underline;
}

.footer p {
    margin-bottom: .5rem;
    color: #222;
}


.headline-detail {
    padding-top: 1.25rem;
    padding-bottom: 0rem;
    height: 360px;
    background-color: var(--color-chinese-black);
    color: var(--color-white);
}

.headline-detail--inner {
    width: 90%;
    margin: 0 auto;
}

.headline-detail--header h1 {
    font-size: 1.9rem;
    line-height: 2.75rem;
}

.headline-detail--metadata {
    margin-top: 1rem;
}

.headline-detail--image {
    margin-top: 1.5rem;
    height: 200px;
    position: relative;
}

.headline-detail--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-detail {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.post-detail p {
    line-height: 1.75rem;
}

.post-detail h2,
.post-detail h3,
.post-detail h4,
.post-detail h5 {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.post-detail h2 {
    font-size: 1.5rem;
}

.post-detail h3,
.post-detail h4,
.post-detail h5 {
    font-size: 1.25rem;
}

aside .developer {
    margin-bottom: 2.5rem;
    border-radius: .5rem;
}

aside .developer--title {
    margin-top: 0px;
}


.partners {
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
}

.partners .partners--header {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.partners--header .partners--title {
    margin-top: 0px;
    font-size: 1.5rem;
    color: var(--color-red);
}

.partners .partners--body {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.partners .partners--list {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.partners--item img {
    width: 100%;
    height: auto;
}


@media screen and (min-width: 640px) {
    .headline--image {
        height: 300px;
    }

    .headline-detail--image {
        height: 300px;
    }

    .post-detail {
        margin-top: 8.5rem;
    }

    .partners {
        padding-bottom: 2.5rem;
    }

    .partners .partners--list {
        width: 90%;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 768px) {
    .headline {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .headline--inner {
        display: flex;
        flex-direction: row-reverse;
        gap: 3rem;
        align-items: center;
    }

    .headline--image,
    .headline--content {
        width: 50%;
    }

    .headline--image {
        height: 360px;
    }

    .headline-detail {
        height: 285px;
    }

    .headline-detail .headline-detail--inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .headline-detail .headline-detail--content {
        grid-column: 1 / span 7;
    }

    .headline-detail .headline-detail--header {
        margin-top: 1rem;
    }

    .headline-detail--header h1 {
        font-size: 2.5rem;
        line-height: 3.25rem;
    }

    .headline-detail .headline-detail--image {
        position: relative;
        top: -4rem;
        grid-column: 7 / span 6;
        height: 200px;
    }
}


@media screen and (min-width: 1024px) {
    .headline-detail {
        height: 320px;
    }

    .headline-detail .headline-detail--content {
        grid-column: 1 / span 6;
    }

    .headline-detail .headline-detail--header {
        margin-top: 3rem;
    }

    .headline-detail .headline-detail--image {
        top: 8rem;
        grid-column: 8 / span 6;
        height: 240px;
    }

    .post-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
    }

    .post-detail article {
        width: 63.33%;
    }

    .post-detail aside {
        width: 33.33%;
    }

    .partners {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .partners .partners--body {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .partners .partners--list {
        grid-template-columns: 1fr;
    }
}



@media screen and (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }

    .headline--inner {
        max-width: 1200px;
        gap: 5rem;
    }

    .post-detail article {
        width: 70%;
    }

    .post-detail aside {
        width: 30%;
    }
}
