:root {
	--color-red: #FF2D20;
	--color-chinese-black: #141618;
	--color-flirt: #A40D77;
	--color-white: #FFFFFF;
	--color-outer-space: #30353C;
	--color-liberty: #4662B2;
    --color-black: #000000;
    --color-auro-metal: #6B7280;
    --color-pink: #F56767;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
